* {
    box-sizing: border-box;
    border: 1px black solid;
    padding: 10px;
    margin: 20px;
    background-color: whitesmoke;
}

body {
    display: flex;
    padding: 4px;
    flex-direction: column;
    line-height: 2;
    background-color: #d9dcd6;
    color: #000000;
}

header {
    display: flex;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #000000;
    color: #000000;

}

header h1 {
    display: inline-block;
    font-size: 40px;
}

header nav {
    padding-top: 10px;
    margin-right: 10px;
    float: right;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    list-style: none;
}

header div ul li {
    display: inline-block;
    justify-content: space-between;
    list-style: none;
}

nav > li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    min-width: 100px;
}

.nav > li > a {
    text-decoration: none;
    color: white;
}

.logo {
    width:100px;
}

.img {
    margin: auto 5px;
    float: right;
    width:50px;
    height:50px;
    object-fit: cover;
}

.avatar {
    vertical-align: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .aboutme h3 {
    margin-left: 32px;
    color: #d3d3d3;
}

.img{
    float: bottom;
    width: 50px;
    height: 50px;
    object-fit: cover;

}.div-wrapper {
    position: relative;
    height: 300px;
    width: 300px;

}

.div-wrapper img {
    position: absolute;
    border-bottom-right-radius: 0;
    bottom: 0;
}

@media only screen and (max-width: 720px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}